body{
    background-color: #13141b;
    color: #ffffff;
    background-image: url(images/bg-image.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
}

.form-control{
    background-color:rgba(255, 255, 255, 0.2);
    padding: 22px;
    border: none;
    border-radius: 25px;
}
.btn{
    border-radius: 1.5rem;
    padding: 9px 20px;
}

.btn-privious{
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
}
.navbar-toggler {
    border: none;
}
.search-box{
    position: relative;
}
.search-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}
.single-result{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
}
p{
    border: 1px solid gray;
    background-color: gray;
    padding: 20px;
    border-radius: 5px;
}

#p1{
    display: none;
}

#p2{
    display: none;
}

#p3{
    display: none;
}
#p4{
    display: none;
}

#p5{
    display: none;
}

#p6{
    display: none;
}

#p7{
    display: none;
}
#p8{
    display: none;
}
#p9{
    display: none;
}

#p10{
    display: none;
}

pre{
    color: gray;
}